{% macro render_field_with_errors(field, class_) %}
  <div class="form-group">
    {{ field.label(class_="form-label") }}
    {{ field(class_=class_) }}
    {% if field.errors %}
      <ul class="errors list-unstyled">
      {% for error in field.errors %}
        <li class="text-danger"><small>{{ error }}</small></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field, class_) %}
  <div class="form-group">
    {{ field(class_=class_) }}
  </div>
{% endmacro %}
